<!Doctype HTML>
<html>
  <head>
    <%- include("partials/header")%>
  </head> 
  
  <body>
      <div class='container'>
        <div class="tile is-ancestor">
            <div class="tile is-4 is-parent">

            </div>
            <div class="tile box is-4 is-parent">
                Timer
            </div>
            <div class="tile  is-4 is-parent">
                <div class="tile  is-4 is-child"></div>
                <div class="tile  is-4 is-child"></div>
                <div class="tile box is-4 is-child">Button</div>
            </div>

        </div>
        <div class="tile is-ancestor">
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile is-parent">
                <div class="tile is-child is-3"></div>
                <div class="tile is-parent is-9 is-vertical">
                    <div class="tile is-child box">Top Donors</div>
                    <div class="tile is-child box">Recent Donors</div>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile"></div>
            <div class="tile is-parent">
                <div class="tile is-child box">Goal:</div>
                <div class="tile is-child box">Raised:</div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">Stream Info:</div>
            </div>
        </div>
        <!-- <div class="tile is-ancestor">
        <div class="tile is-4 box"></div>

        <div class="tile is-4 box">
            <div class="tile is-3 box"></div>
            <div class="tile is-9 box">
                Timer
            </div>
        </div>

        <div class="tile is-4 box">
            <div class="tile box is-parent is-12 is-vertical">
                <div class="tile is-6 is-child box">hi</div>
                <div class="tile is-6 is-child box">Button</div>
            </div>
            <div class="tile box is-parent-is-12">
                hi
            </div>


            <div class="tile is-3  box"></div>
            <div class="tile is-9 is-vertical box is-parent">
                <div class="tile box">Top Donors</div>
                <div class="tile box">Recent Donors</div>
            </div>
            
            <div class="tile is-12 box">Stream Info</div>
        </div>

        </div>
       </div> -->
   </body>
</html>