<!Doctype html>
<html>
    <head>
        <%- include('partials/header')%>        
        <script src='/javascripts/live-config.js'></script>
    </head>
    <body>
        <div class = "container">
            <div class = "tile is-ancestor">
                <div class = "tile is-6 is-child is-vertical box">
                    <!-- <div class="field">
                        <div class="control">
                            <button class="button progress-bar">Progress Bar: Off</button>
                        </div>
                    </div> -->
                    <div class="field">
                        <div class="control">
                            <button class="button timer">Timer: Off</button>
                        </div>
                    </div>

                    <div class="field has-addons is-grouped-centered">
                            <div class="control">
                               <button class="button goal">Goal: Off</button>
                           </div>
                           <div class="control">
                               <input class="input" placeholder="e.g. $25000">
                           </div>
                        
                        </div>

                    <div class="field">
                         <div class="control">
                            <button class="button money-raised">Money Raised: Off</button>
                        </div>
                    </div>

                    <div class='field'>
                        <div class="control">
                            <button class="button top-donors">Top Donors: Off</button>
                        </div>
                    </div>

                    <div class='field'>
                        <div class="control">
                            <button class="button recent-donations">Recent Donations: Off</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>