<!Doctype html>
<html>
    <head>
        <%- include('partials/header')%>
        <script src='/javascripts/live-config.js'></script>
    </head>
    <body>
        <div class = "container">
            <div class = "tile is-ancestor">
                <div class = "tile is-6 is-child is-vertical box">
                    <div class="field">
                        <div class="control">
                            <button class="button progress-bar"><b>Progress Bar </b>: Off</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button timer"><b>Timer </b>: Off</button>
                        </div>
                    </div>

                    <div class="field has-addons is-grouped-centered">
                            <div class="control">
                               <button class="button goal"><b>Goal</b>: Off</button>
                           </div>
                           <div class="control">
                               <input class="input" placeholder="e.g. $25000">
                           </div>
                        
                        </div>

                    <div class="field">
                         <div class="control">
                            <button class="button money-raised"><b>Money Raised </b>: Off</button>
                        </div>
                    </div>

                    <div class='field'>
                        <div class="control">
                            <button class="button top-donors"><b>Top Donors</b>: Off</button>
                        </div>
                    </div>

                    <div class='field'>
                        <div class="control">
                            <button class="button recent-donations"><b>Recent Donations</b>: Off</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>