<!Doctype html>
<html>
    <head>
        <%- include('partials/header')%>
        <script src='/javascripts/live-config.js'></script>
    </head>
    <body>
        <div class = "container">
            <div class = "tile is-ancestor">
                <div class = "tile is-child is-vertical box">
                      Toggle Progress Bar: Off
                      Toggle Timer: Off
                      Toggle Money Raised: Off
                      
                </div>
            </div>
        </div>
    </body>
</html>